html, body {
    height: 100%;
    width: 100%;
    margin 0;
    overflow-x: hidden;
    padding: 0;
}

.site {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.site-header {
    min-height: 200px;
    background-color: #325261;
    font-family: Quicksand;
    color: #FFFFFF;
    text-align: center;
    font-size: 325%;
    padding-bottom: 3px;
    padding-top: 3px;
    position: relative;
    flex: 0 1 auto;
    width: 100%;
}

.site-body {
    min-height: 100px;
    background-color: #FFFFFF;
    flex: 1 0 auto;
    position: relative;
}

.body-col {
    
}

.site-footer {
    background-color: #325261;
    flex: 0 1 50px;
    text-align: center;
    color: #ccc;
    padding: 10px;
    font-size: 130%;

}

.imp {
    color: #fff;
}

nav ul {
    background-color: #00283a;
    overflow:hidden;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;   
}

nav ul li {
    display: inline-block;
    padding: 10px 50px 10px 50px;
    font-size: 200%;
    transition: 0.3s;
}

nav ul a {
    text-decoration: none;
    color: inherit;
    font-family: El Messiri;
    transition: 0.3s;
}

nav ul a:hover {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

nav ul li:hover {
    background-color: #325261;
    transition: 0.3s;
}

.handle {
    width: 100%;
    text-align: left;
    color: white;
    font-family: El Messiri;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    background: #004D40;
    font-size: 200%;
    display: none;
}




.heading-block {
    text-align: center;
    font-family: El Messiri;
    padding: 40px;
    box-shadow: 0px 10px 50px #888888;
    background-color: #FFF;
}

.hrline {
    border-color: #92c500;
    width: 75%;
}

.hrline2 {
    border-color: #92c500;
    width: 50%;
    margin: 0 auto;
}


.main2 {
    font-size: 50%;
}

.halfblock {
    width: 50%;
    position: relative;
}

#typewriterblock {
    border: 0.5px solid #fff;
    position: relative;
    height: 300px;
    background-color: #ffad00;
    text-align: center;
    vertical-align: middle;
    box-shadow: 10px 10px 50px #888888;
}

#typewriterblock2 {
    border: 0.5px solid #fff;
    position: relative;
    height: 300px;
    background-color: #0077cc;
    text-align: center;
    vertical-align: middle;
    box-shadow: 10px 10px 50px #888888;
}


.left {
    float: left;
}

.right {
    float: right;
}

.big1 {
    font-size: 5em;
    color: #fff;
    line-height: 200px;
}

.small1 {
    font-size: 2em;
    color: #fff;
    line-height: 100px; 
}

.textbox, .textbox2 {
    text-align: center;
    margin: 0 auto;
    color: #00283a;
    font-family: Bellefair;
    font-size: 2em;
    padding-right: 200px;
    padding-left: 200px;
}

.quotebox {
    text-align: center;
    margin: 0 auto;
    color: #00283a;
    font-family: Bellefair;
    font-size: 2em;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 50px;
}

.textbox h2 {
    font-size: 110%
}
.subtext {
    font-size: 90%;
}

ol {
    list-style-position: inside;
    padding-top: 30px;
}


iframe {
    margin: 0 auto;
    display: block;
    width: 1120px;
    height: 630px;
}

nav a {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.twblock {
    background-color: #92c500;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-family: El Messiri;
    padding: 0px;
    position: relative;
}

@media screen and (max-width: 600px) {
    nav ul {
        max-height: 0px;
    }
    .showing {
        max-height: 20em;
    }
    nav ul li {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        text-align: left;
    }
    .handle {
        display: block;
    }
    .site-header {
    min-height: 250px;
    background-color: #325261;
    font-family: Quicksand;
    color: #FFFFFF;
    text-align: center;
    font-size: 325%;
    padding-bottom: 3px;
    padding-top: 3px;
    position: relative;
    flex: 0 1 auto;
    width: 100%;
    }
    .halfblock {
        width: 100%;
        position: relative;
    }
    .textbox {
        padding-left: 0px;
        padding-right: 25px;
    }
    .textbox2 {
        padding-left: 25px;
        padding-right: 25px;
    }
    .quotebox {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 1em;
    }
    #typewriterblock {
        border: 0.5px solid #fff;
        position: relative;
        height: 200px;
        background-color: #ffad00;
        text-align: center;
        vertical-align: middle;
        box-shadow: 10px 10px 50px #888888;
    }
    #typewriterblock2 {
        border: 0.5px solid #fff;
        position: relative;
        height: 200px;
        background-color: #0077cc;
        text-align: center;
        vertical-align: middle;
        box-shadow: 10px 10px 50px #888888;
    }
    .big1 {
    font-size: 3em;
    color: #fff;
    line-height: 130px;
    }
    .small1 {
        font-size: 1em;
        color: #fff;
        line-height: 20px; 
    }
    iframe {
        width: 100%;
        height: 230px;
    }

}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .textbox {
        padding-left: 50px;
        padding-right: 50px;
    }
    .textbox2 {
        padding-left: 80px;
        padding-right: 80px;
    }
    .quotebox {
        padding-right: 30px;
        padding-left: 30px;
        font-size: 1.8em;
    }
    iframe {
        width: 100%;
        height: 400px;
    }

}

